                                MARINA ASCENSIÓN IGUAL LÓPEZ
                                INTRODUCTORY COURSE. EXAM 2.
                                DATE: 17/09/2018

In [108]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@mysql'

# PROBLEM 1

In [109]:
file_germplasm = open ('./Germplasm.tsv', 'r')

file_germplasm.seek(0)

import re

codes_germplasm = []
non_codes = 0

for line in file_germplasm:
    line = line.rstrip()
    locuscode = re.search (r'AT[0-9]G[0-9]{5}',line)
    if locuscode:
        codes_germplasm.append(locuscode.group())
    else: 
        non_codes += 1
        
print (codes_germplasm)

print ("\n\n")

file_LocusGene = open ('./LocusGene.tsv', 'r')

file_LocusGene.seek(0)

codes_LocusGene = []
non_codes2 = 0

for line in file_LocusGene:
    line = line.rstrip()
    locuscode = re.search (r'AT[0-9]G[0-9]{5}',line)
    if locuscode:
        codes_LocusGene.append(locuscode.group())
    else: 
        non_codes2 += 1
        
print (codes_LocusGene)

#loci = [codes_germplasm, codes_LocusGene]
#ind = 0
#while ind < 35:
 #   if loci[ind][0] == loci[0][ind]:
  #      print ('Okey!')
   #     ind += 1
   # elif ind == 13:
    #    broke
    #else:
     #   print ('NOT EQUAL!')

['AT1G01040', 'AT1G01060', 'AT1G01140', 'AT1G01220', 'AT1G01280', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420', 'AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290']



['AT1G01040', 'AT1G01060', 'AT1G01140', 'AT1G01220', 'AT1G01280', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420', 'AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290']

Both files have the same locus codes in the same order.

# Problem 2:  Design and create the database.

In [119]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.

[('information_schema',),
 ('Exam2',),
 ('friends',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('pract',),
 ('sys',),
 ('testing123',)]

In [153]:
%sql drop database Exam2;
%sql create database Exam2;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

In [154]:
%sql use Exam2;
%sql CREATE TABLE germplasm (Locus VARCHAR(15) NOT NULL PRIMARY KEY, germplasm VARCHAR(15) NOT NULL, phenotype VARCHAR(500) NOT NULL, pubmed VARCHAR(15) NOT NULL)

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [155]:
%sql DESCRIBE germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('Locus', 'varchar(15)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(15)', 'NO', '', None, ''),
 ('phenotype', 'varchar(500)', 'NO', '', None, ''),
 ('pubmed', 'varchar(15)', 'NO', '', None, '')]

In [156]:
%sql CREATE TABLE loci (Locus VARCHAR(15) NOT NULL PRIMARY KEY,  gene VARCHAR(15) NOT NULL, protein_length VARCHAR(15) NOT NULL);

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

Both tables are related by the field 'Locus'.

# PROBLEM 3

In [78]:
#%sql INSERT INTO germplasm (Locus, germplasm, phenotype, pubmed) VALUES ('AT1G01040','CS3828','Increased abundance of miRNA precursors.','17369351')
#%sql INSERT INTO germplasm (Locus, germplasm, phenotype, pubmed) VALUES ('AT1G01060','lhy-101','The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.','16891401')
#%sql INSERT INTO germplasm (Locus, germplasm, phenotype, pubmed) VALUES ('AT1G01140','SALK_058629','hypersensitive to low potassium media','17486125')

In [151]:
%sql SELECT * FROM germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [58]:
#%sql drop table loci;
#%sql DESCRIBE loci;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('Locus', 'varchar(15)', 'NO', 'PRI', None, ''),
 ('gene', 'int(11)', 'NO', '', None, ''),
 ('protein_length', 'int(11)', 'NO', '', None, '')]

In [79]:
#%sql INSERT INTO loci (Locus, gene, protein_length) VALUES ('AT1G01040','DCL1',332);
#%sql INSERT INTO loci (Locus, gene, protein_length) VALUES ('AT1G01060','LHY',290);
#%sql INSERT INTO loci (Locus, gene, protein_length) VALUES ('AT1G01140','CIPK9',223);

In [116]:
%sql SELECT * FROM loci;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

# Problem 3: Fill the database

In [157]:
#Building the database

#Building the table germplasm
import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True)

file_germplasm = open ('./Germplasm.tsv', 'r')

try:
    with connection.cursor() as cursor:
        file_germplasm.seek(0)
        discard = file_germplasm.readline()
        for line in file_germplasm.readlines():
            line = line.strip() 
            if line:
                locus, germplasm, pheno, pubmed = line.split("\t")
                print(locus + "and" + germplasm)
                sql = "INSERT INTO germplasm (Locus, germplasm, phenotype, pubmed) VALUES ('%s','%s','%s','%s')" % (locus, germplasm, pheno, pubmed)
                cursor.execute(sql)
            else:
                continue        
   
        file_germplasm.close()

finally:
    connection.close()

AT1G01040andCS3828
AT1G01060andlhy-101
AT1G01140andSALK_058629
AT1G01220andSALK_012400C

ValueError: too many values to unpack (expected 4)

The loop stops in teh line 5. I don't know why and I couldn't resolve it.

In [158]:
%sql SELECT * FROM germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', '17369351'),
 ('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', '16891401'),
 ('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', '17486125'),
 ('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants.', '18199744')]

In [159]:
%sql describe loci;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('Locus', 'varchar(15)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(15)', 'NO', '', None, ''),
 ('protein_length', 'varchar(15)', 'NO', '', None, '')]

In [160]:
#Building the table germplasm
import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True )

file_LocusGene = open ('./LocusGene.tsv', 'r')

try:
    with connection.cursor() as cursor:
        file_LocusGene.seek(0)
        discard = file_LocusGene.readline()
        for line in file_LocusGene.readlines():
            line = line.strip() 
            locus, gene, protein = line.split("\t")
            print(locus + " and " + gene)
            sql = "INSERT INTO loci (Locus, gene, protein_length) VALUES ('%s', '%s', '%s')" % (locus, gene, protein)
            cursor.execute(sql)

        file_LocusGene.close()

finally:
    connection.close()

AT1G01040 and DCL1
AT1G01060 and LHY
AT1G01140 and CIPK9
AT1G01220 and FKGP
AT1G01280 and CYP703A2
AT2G03720 and MRH6
AT2G03800 and GEK1
AT2G04240 and XERICO
AT2G05210 and POT1A
AT3G02130 and RPK2
AT3G02140 and TMAC2
AT3G02230 and RGP1
AT3G02260 and BIG
AT3G02310 and SEP2
AT3G02680 and NBS1
AT3G02850 and SKOR
AT3G02870 and VTC4
AT3G03260 and HDG8
AT4G14790 and SUV3
AT4G15210 and BAM5
AT4G15560 and DXS
AT4G15570 and MAA3
AT4G15802 and HSBP
AT4G15880 and ESD4
AT4G16420 and ADA2B
AT4G16480 and INT4
AT5G10480 and PAS2
AT5G10510 and AIL6
AT5G11110 and SPS2
AT5G11260 and HY5
AT5G11510 and MYB3R-4
AT5G12200 and PYD2
AT5G13290 and CRN

In [161]:
%sql SELECT * FROM loci;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
33 rows affected.

[('AT1G01040', 'DCL1', '332'),
 ('AT1G01060', 'LHY', '290'),
 ('AT1G01140', 'CIPK9', '223'),
 ('AT1G01220', 'FKGP', '190'),
 ('AT1G01280', 'CYP703A2', '299'),
 ('AT2G03720', 'MRH6', '189'),
 ('AT2G03800', 'GEK1', '196'),
 ('AT2G04240', 'XERICO', '256'),
 ('AT2G05210', 'POT1A', '221'),
 ('AT3G02130', 'RPK2', '284'),
 ('AT3G02140', 'TMAC2', '300'),
 ('AT3G02230', 'RGP1', '301'),
 ('AT3G02260', 'BIG', '279'),
 ('AT3G02310', 'SEP2', '175'),
 ('AT3G02680', 'NBS1', '190'),
 ('AT3G02850', 'SKOR', '234'),
 ('AT3G02870', 'VTC4', '311'),
 ('AT3G03260', 'HDG8', '194'),
 ('AT4G14790', 'SUV3', '312'),
 ('AT4G15210', 'BAM5', '313'),
 ('AT4G15560', 'DXS', '219'),
 ('AT4G15570', 'MAA3', '294'),
 ('AT4G15802', 'HSBP', '254'),
 ('AT4G15880', 'ESD4', '265'),
 ('AT4G16420', 'ADA2B', '279'),
 ('AT4G16480', 'INT4', '284'),
 ('AT5G10480', 'PAS2', '301'),
 ('AT5G10510', 'AIL6', '310'),
 ('AT5G11110', 'SPS2', '232'),
 ('AT5G11260', 'HY5', '221'),
 ('AT5G11510', 'MYB3R-4', '336'),
 ('AT5G12200', 'PYD2', '310'),
 ('AT5G13290', 'CRN', '189')]

In [164]:
%sql SELECT * FROM germplasm RIGHT JOIN loci ON loci.Locus = germplasm.Locus;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
33 rows affected.

[('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', '17369351', 'AT1G01040', 'DCL1', '332'),
 ('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', '16891401', 'AT1G01060', 'LHY', '290'),
 ('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', '17486125', 'AT1G01140', 'CIPK9', '223'),
 ('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants.', '18199744', 'AT1G01220', 'FKGP', '190'),
 (None, None, None, None, 'AT1G01280', 'CYP703A2', '299'),
 (None, None, None, None, 'AT2G03720', 'MRH6', '189'),
 (None, None, None, None, 'AT2G03800', 'GEK1', '196'),
 (None, None, None, None, 'AT2G04240', 'XERICO', '256'),
 (None, None, None, None, 'AT2G05210', 'POT1A', '221'),
 (None, None, None, None, 'AT3G02130', 'RPK2', '284'),
 (None, None, None, None, 'AT3G02140', 'TMAC2', '300'),
 (None, None, None, None, 'AT3G02230', 'RGP1', '301'),
 (None, None, None, None, 'AT3G02260', 'BIG', '279'),
 (None, None, None, None, 'AT3G02310', 'SEP2', '175'),
 (None, None, None, None, 'AT3G02680', 'NBS1', '190'),
 (None, None, None, None, 'AT3G02850', 'SKOR', '234'),
 (None, None, None, None, 'AT3G02870', 'VTC4', '311'),
 (None, None, None, None, 'AT3G03260', 'HDG8', '194'),
 (None, None, None, None, 'AT4G14790', 'SUV3', '312'),
 (None, None, None, None, 'AT4G15210', 'BAM5', '313'),
 (None, None, None, None, 'AT4G15560', 'DXS', '219'),
 (None, None, None, None, 'AT4G15570', 'MAA3', '294'),
 (None, None, None, None, 'AT4G15802', 'HSBP', '254'),
 (None, None, None, None, 'AT4G15880', 'ESD4', '265'),
 (None, None, None, None, 'AT4G16420', 'ADA2B', '279'),
 (None, None, None, None, 'AT4G16480', 'INT4', '284'),
 (None, None, None, None, 'AT5G10480', 'PAS2', '301'),
 (None, None, None, None, 'AT5G10510', 'AIL6', '310'),
 (None, None, None, None, 'AT5G11110', 'SPS2', '232'),
 (None, None, None, None, 'AT5G11260', 'HY5', '221'),
 (None, None, None, None, 'AT5G11510', 'MYB3R-4', '336'),
 (None, None, None, None, 'AT5G12200', 'PYD2', '310'),
 (None, None, None, None, 'AT5G13290', 'CRN', '189')]

# Problem 4: Create reports, written to a file



    Create a report that shows the full, joined, content of the two database tables (including a header line)

    Create a joined report that only includes the Genes SKOR and MAA3

    Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

    Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule!

All reports should be written to the same file. You may name the file anything you wish.

In [185]:
import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True )

file_database = open ('./information.tsv', 'w')

#Joining the content of the two tables:

file_database.write("Locus\tgermplasm\tphenotype\tpubmed\tgene\tprotein_length\n")

try:
    with connection.cursor() as cursor:
            sql = "SELECT * FROM germplasm RIGHT JOIN loci ON loci.Locus = germplasm.Locus"
            cursor.execute(sql)
            results=cursor.fetchall()
            for result in results:
                file_database.write(str(result['Locus']))
                file_database.write("\t")
                file_database.write(str(result['germplasm']))
                file_database.write("\t")
                file_database.write(str(result['phenotype']))
                file_database.write("\t")
                file_database.write(str(result['pubmed']))
                file_database.write("\t")
                file_database.write(str(result['gene']))
                file_database.write("\t")
                file_database.write(str(result['protein_length']))
                file_database.write("\n")
                
                

finally:
    connection.close()

In [200]:
#Creating a joined report that only includes the Genes SKOR and MAA3

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Exam2',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True )

file_database = open ('./information.tsv', 'a')



try:
    with connection.cursor() as cursor:
            sql = "SELECT * FROM loci WHERE gene LIKE 'SKOR'"
            cursor.execute(sql)
            results=cursor.fetchall()
            for result in results:
                file_database.write(str(result['Locus']))
                file_database.write("\t")
                file_database.write(str(result['gene']))
                file_database.write("\t")
                file_database.write(str(result['protein_length']))
                file_database.write("\n")
            
            sql = "SELECT * FROM loci WHERE gene LIKE 'MAA3'"
            cursor.execute(sql)
            results=cursor.fetchall()
            for result in results:
                file_database.write(str(result['Locus']))
                file_database.write("\t")
                file_database.write(str(result['gene']))
                file_database.write("\t")
                file_database.write(str(result['protein_length']))
                file_database.write("\n")
                

finally:
    connection.close()

I don't have time to write the two last parts of the question.